@import '/vendor/filament/filament/resources/css/theme.css';
@import '/node_modules/cropperjs/dist/cropper.css';
@import '/vendor/awcodes/filament-curator/resources/css/plugin.css';
@config 'tailwind.config.js';

/* Sidebar */

.fi-sidebar {
    @apply bg-white;
}

.fi-topbar nav,
.fi-sidebar-header{
    @apply bg-transparent ring-0 shadow-none !important;
}

.fi-logo{
    @apply text-primary-500;
}

.fi-sidebar-item a {
    background-color: #FBFBFB;
    background: linear-gradient(to right, #F0217E 0%, #F0217E 100%);
    background-size: 0% 100%; /* Começa invisível */
    background-repeat: no-repeat; /* Evita repetição */
    transition: background-size 0.2s ease-in-out; /* Transição suave */
    color: inherit; /* Mantém a cor do texto inicialmente */
}

.fi-sidebar-group div span{
    @apply text-gray-700;
}

.fi-sidebar-item a:hover {
    background-color: #FBFBFB;
    background-size: 100% 100%; /* Preenche completamente o fundo */
}

.fi-sidebar-item a:hover svg,
.fi-sidebar-item a:hover .fi-sidebar-item-label {
    @apply text-white;
}
.fi-sidebar-item  svg {
    @apply text-primary-500;
}

.fi-sidebar-item-active a {
    @apply bg-primary-500;
}

.fi-sidebar-item-active a svg,
.fi-sidebar-item-active a .fi-sidebar-item-label {
    @apply text-white;
}

.fi-icon-btn svg {
    @apply text-primary-500;
}

/* Backgroud */

.fi-body{
    @apply bg-primary-50 dark:bg-gray-950 !important;
}

/* Curator */

.curator-media-picker ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.curator-media-picker ul li {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
    box-sizing: border-box;
}

.curator-media-picker ul li button {
    @apply text-primary-50;
}

/* Table */
.fi-badge {
    @apply text-sm !important;
}
