@import '/vendor/filament/filament/resources/css/theme.css';
@import '/node_modules/cropperjs/dist/cropper.css';
@import '/vendor/awcodes/filament-curator/resources/css/plugin.css';

@config 'tailwind.config.js';

/* Sidebar */

.fi-sidebar {
    @apply bg-primary-700 dark:bg-gray-900 !important;
}

.fi-sidebar-header .fi-icon-btn-icon{
    @apply text-gray-600;
}

.fi-icon-btn-icon{
    @apply text-primary-50;
}

.fi-sidebar-group div span {
    @apply text-primary-50;
}

.fi-sidebar-item-icon {
    @apply text-primary-50;
}

.fi-sidebar-item a {
    @apply text-primary-100;
}

.fi-sidebar-item-label {
    @apply text-primary-100;
}

.fi-sidebar-item a:hover {
    @apply text-primary-50 bg-primary-700;
}

.fi-sidebar-item-active a {
    @apply text-white bg-primary-800;
}

.fi-sidebar-item-active .fi-sidebar-item-icon {
    @apply text-primary-400;
}

.fi-main-ctn {
    @apply bg-primary-50 dark:bg-transparent;
}

/* Backgroud */

body{
    @apply bg-primary-50 dark:bg-gray-950 !important;
}

/* Curator */

.curator-media-picker ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.curator-media-picker ul li {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
    box-sizing: border-box;
}

.curator-media-picker ul li button {
    @apply text-primary-50;
}
