@import '/vendor/filament/filament/resources/css/theme.css';
@import '/node_modules/cropperjs/dist/cropper.css';
@import '/vendor/awcodes/filament-curator/resources/css/plugin.css';
@config 'tailwind.config.js';

/* Sidebar */

.fi-sidebar {
    @apply bg-white;
}

.fi-topbar nav,
.fi-sidebar-header{
    @apply bg-transparent ring-0 shadow-none !important;
}

.fi-sidebar-header{
}

.fi-logo{
    @apply text-primary-400;
}

.fi-sidebar-header .fi-icon-btn-icon{
}

.fi-icon-btn-icon{
}

.fi-sidebar-group div span {
}

.fi-sidebar-item-icon {
}

.fi-sidebar-item a {
}

.fi-sidebar-item-label {
}

.fi-sidebar-item a:hover {
    @apply bg-primary-400 text-white;
}
.fi-sidebar-item a:hover svg,
.fi-sidebar-item a:hover .fi-sidebar-item-label {
    @apply text-white;
}
.fi-sidebar-item  svg {
    @apply text-primary-400;
}

.fi-sidebar-item-active a {
    @apply bg-primary-400;
}

.fi-sidebar-item-active a svg,
.fi-sidebar-item-active a .fi-sidebar-item-label {
        @apply text-white;
}

.fi-icon-btn svg {
    @apply text-primary-400;
}

.fi-main-ctn {
}

/* Backgroud */

body{
    @apply bg-primary-50 !important;
}

/* Curator */

.curator-media-picker ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.curator-media-picker ul li {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
    box-sizing: border-box;
}

.curator-media-picker ul li button {
    @apply text-primary-50;
}
